body {
    background: #222;
    color: #919191;
    margin: 0;
    padding: 10px 0;
    font-family: sans-serif;
    font-size: 0.9em;
}

canvas {
    display: block;
    width: 100%;
    height: 70px;
    margin: 15px 0;
    background: #333;
    background-image: url("cb.png");
    background-size: 20px;
    background-repeat: repeat;
}

input,
textarea,
select,
button {
    margin: 5px;
    padding: 3px 5px;
    background: #2f2f2f;
    color: #bdbdbd;
    border: 1px solid #5550;
}

textarea {
    width: 700px;
    height: 50px;
    max-width: 100%;
}

input[type="text"] {
    width: 700px;
    max-width: 100%;
}

h1,
#container {
    margin: 0 20px;
}

h1 {
    font-size: 1.25em;
}

#output {
    color: #fff;
    font-size: 1.2em;
}

#output .error {
    color: #ff8686;
}

ul.form {
    padding: 0;
}

ul.form li {
    border-bottom: 1px solid #292929;
    display: block;
    list-style: none;
}

ul.form li label {
    display: inline-block;
    padding: 5px;
}

ul.form li label span {
    display: inline-block;
    min-width: 180px;
    vertical-align: top;
}