body {
    background: #222;
    color: #919191;
    margin: 0;
    padding: 10px 0;
    font-family: sans-serif;
    font-size: 0.9em;
}

#wrapper {
    margin: 0 auto;
    max-width: 1100px;
}

canvas {
    display: block;
    width: 100%;
    height: 70px;
    margin: 15px 0;
    background: #333;
    background-image: url("cb.png");
    background-size: 20px;
    background-repeat: repeat;
}

input[type="text"],
textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 700px;
}

input,
textarea,
select,
button {
    padding: 3px 5px;
    background: #2f2f2f;
    color: #bdbdbd;
    border: 1px solid #5550;
}

textarea {
    height: 80px;
}

input[type="text"] {}

input[type="number"] {
    max-width: 70px;
}

select {
    min-width: 130px;
}

h1,
#container {
    margin: 0 20px;
}

h1 {
    font-size: 1.25em;
}

#output {
    color: #fff;
    font-size: 1.2em;
}

#output .error {
    color: #ff8686;
}

ul.form {
    padding: 0;
    margin: 0;
}

ul.form li {
    border-bottom: 1px solid #292929;
    display: block;
    list-style: none;
    padding: 5px 0;
    margin: 0;
}

ul.form li:last-child {
    border-bottom: none;
}

ul.form li label {
    display: inline-block;
    padding: 5px;
    width: 100%;
}

ul.form li span {
    display: inline-block;
    min-width: 180px;
    vertical-align: top;
}

hr {
    border: none;
    border-top: 1px solid #404040;
    margin: 15px 0;
}

#colors-out {
    font-family: monospace;
    color: #fff;
    margin: 15px 0;
    line-height: 23px;
}

#colors-out span {
    padding: 1px 3px;
}